
.collapsePanel {
  display: inline-block;
}

.cell {
  padding: 10px 12px;
  border-bottom: 1px solid #E8E8E8;
  border-right: 1px solid #E8E8E8;
  white-space: nowrap;
}

.title {
  position: relative;
  padding-right: 28px;
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 28px;
  height: 100%;
  color: #1890FF;
  font-size: 14px;
  cursor: pointer;
}